<h1>會員登入</h1>

<%= form_with(scope: :user,
              url: logining_users_path,
              data: { turbo: false }) do |f| %>

<div>
  <%= f.label :email,'電子信箱' %>
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :password, '密碼' %>
  <%= f.password_field :password %>
</div>

<div><%= f.submit '確認登入' %></div>

<%end%>